<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerador de Resumo de Vídeos</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .spinner-container {
        display: none;
      }
    </style>
  </head>
  <body class="d-flex justify-content-center align-items-center bg-light" style="min-height: 100vh;">
    <div
      class="container d-flex flex-column justify-content-center align-items-center overflow-auto" style="min-height: 100vh;"
    >
      <div class="card shadow p-4" id="formCard">
        <h2 class="text-center mb-4">
          Envie seu arquivo aqui (link ou vídeo):
        </h2>
        <form id="uploadForm">
          <div class="mb-3">
            <label for="linkInput" class="form-label"
              >Insira o Link de um vídeo (YouTube)</label
            >
            <input
              type="url"
              class="form-control"
              id="linkInput"
              placeholder="https://exemplo.com"
            />
          </div>
          <div class="mb-3">
            <label for="textInput" class="form-label"
              >Diga como o texto deve ser resumido (opcional):</label
            >
            <textarea class="form-control" id="textInput" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-secondary w-100">Enviar</button>
        </form>
      </div>

      <div class="text-center spinner-container" id="loadingSpinner">
        <div class="spinner-border text-secondary" role="status">
          <span class="visually-hidden">Carregando...</span>
        </div>
        <p class="mt-3">Processando o vídeo, por favor aguarde...</p>
      </div>

      <div
        class="card shadow p-4 d-none"
        id="resultCard"
        style="max-width: 800px; margin: auto"
      >
        <h3 class="text-center text-primary mb-4" id="videoTitle"></h3>
        <div class="card-body">
          <p id="videoSummary"></p>
        </div>
        <button
          class="btn btn-secondary w-100 mt-3"
          onclick="location.reload()"
        >
          Processar Outro Vídeo
        </button>
      </div>
    </div>

    <script>
      function processText(text) {
        text = text.replace(/\n/g, "<br>");

        text = text.replace(/\*([^\*]+)\*/g, "<strong>$1</strong>");

        return text;
      }

      document
        .getElementById("uploadForm")
        .addEventListener("submit", async function (event) {
          event.preventDefault();

          const linkInput = document.getElementById("linkInput").value;
          const textInput = document.getElementById("textInput").value;

          if (!linkInput) {
            alert("Por favor, insira um link de vídeo.");
            return;
          }

          document.getElementById("formCard").classList.add("d-none");
          document.getElementById("loadingSpinner").style.display = "block";

          try {
            const response = await fetch("http://127.0.0.1:5000/recept-files", {
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
              body: new URLSearchParams({
                link: linkInput,
                text: textInput,
              }),
            });

            if (response.ok) {
              const data = await response.json();

              if (
                data &&
                data.response &&
                data.response.video_title &&
                data.response.summary
              ) {
                document.getElementById("loadingSpinner").style.display =
                  "none";
                document
                  .getElementById("resultCard")
                  .classList.remove("d-none");
                document.getElementById("videoTitle").innerText =
                  data.response.video_title;

                const processedSummary = processText(data.response.summary);
                document.getElementById("videoSummary").innerHTML =
                  processedSummary;
              } else {
                throw new Error("Dados de vídeo não encontrados.");
              }
            } else {
              throw new Error("Erro na resposta do servidor");
            }
          } catch (error) {
            document.getElementById("loadingSpinner").style.display = "none";
            alert(
              "Ocorreu um erro ao processar o vídeo. Tente novamente. Erro: " +
                error.message
            );
            document.getElementById("formCard").classList.remove("d-none");
          }
        });
    </script>
  </body>
</html>
